<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      sizes="192x192"
      href="https://static.wixstatic.com/media/21dd0d_b853e3da14384a35a71b4995288f5b5d%7Emv2.jpg/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/21dd0d_b853e3da14384a35a71b4995288f5b5d%7Emv2.jpg"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FONTS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Coding the Curbs | The smart city of tommorow</title>
  </head>
  <body>
    <header>
      <a href="/">
        <img
          class="logo"
          src="assets/CTC_Primary_Logo_Black.png"
          alt="logo van Coding the Curbs"
        />
      </a>
      <nav>
        <ul class="primary-navigation">
          <li>
            <a href="/">Use-cases</a>
          </li>
          <li>
            <a class="active" href="#smartzones">Smart zones</a>
          </li>
          <li>
            <a href="/">Product</a>
          </li>
          <li>
            <a href="/">Services</a>
          </li>
          <li>
            <a href="/">Updates</a>
          </li>
          <li>
            <a href="/">Over ons</a>
          </li>
          <li>
            <a href="/">Contact</a>
          </li>
          <button>Sluit je aan</button>
        </ul>
      </nav>
    </header>
    <main>