<%- include('./partials/head') %>

<section id="smartzones">
  <h1><%= title %></h1>
  <p>
    Bewerk een smartzone uit de api.
  </p>
</section>

<article class="smartzone-buttons">
  <a class="button-post" href="/add">Smart zone toevoegen</a>
  <a class="button-put" href="/edit">Smart zone bewerken</a>
  <a class="button-delete" href="/remove">Smart zone verwijderen</a>
</article>

<article class="sorting">
  <a class="white-button left-arrow" href="/">Terug naar smart zones</a>
  <a class="white-button right-arrow" href="/smartzones">Alle smart zones</a>
</article>

<form action="/edit" method="post">
  <div>
    <label for="smartzoneId">SmartzoneId</label>
    <input type="text" name="smartzoneId" />
  </div>
  <div>
    <label for="name">Naam</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label for="town">Stad</label>
    <input type="text" name="town" />
  </div>
  <div>
    <label for="location">Locatie</label>
    <input type="text" name="location" />
  </div>
  <div>
    <label for="function">Functie</label>
    <input type="text" name="function" />
  </div>
  <div>
    <label for="time">Tijdstip</label>
    <input type="text" name="time" />
  </div>
  <div>
    <label for="size">Grootte (plek)</label>
    <input type="text" name="size" />
  </div>
  <div>
    <label for="utilization">Gebruik (%)</label>
    <input type="text" name="utilization" />
  </div>
  <div>
    <label for="description">Omschrijving</label>
    <input type="text" name="description" />
  </div>
  <div>
    <label for="image">Foto (url)</label>
    <input type="text" placeholder="https://foto.com" name="image" />
  </div>
  <div class="form-buttons">
    <button type="submit">Bewerken</button>
    <button type="reset">Annuleren</button>
  </div>
</form>

<%- include('./partials/foot') %>