<%- include('./partials/head') %>

<section id="smartzones">
  <h1><%= title %></h1>
  <p>
    Hier is een overzicht met smartzones. Je kan ook smartzones sorteren
    op naam, functie, stad en locatie.
  </p>
</section>
<article class="smartzone-buttons">
  <button class="toggle-form-post">Smart zone toevoegen</button>
  <button class="toggle-form-put">Smart zone bewerken</button>
  <button class="toggle-form-delete">Smart zone verwijderen</button>
  <button class="toggle-all-smartzones">Alle smart zones</button>
</article>