<%- include('./partials/head') %>

<section id="smartzones">
  <h1><%= title %></h1>
  <p>
    Hier is een overzicht met smartzones. Je kan ook smartzones sorteren
    op alle smartzones, naam, functie, stad en locatie.
  </p>
</section>
<article class="smartzone-buttons">
  <button class="toggle-form-post">Smart zone toevoegen</button>
  <button class="toggle-form-put">Smart zone bewerken</button>
  <button class="toggle-form-delete">Smart zone verwijderen</button>
</article>
<article class="sorting">
  <a class="all-smartzones" href="/smartzones">Alle smart zones</a>
  <select class="select-name" onChange="window.location.href=this.value">
    <option value="/">Filter op naam</option>
    <option value="http://localhost:9000/smartzone/tijn">Tijn</option> 
    <option value="http://localhost:9000/smartzone/sarah">Sarah</option>
  </select> 
</article>
<h1>Sarah</h1>
<%- include('./partials/foot') %>