:root {
  --dark-blue: #110f2a;
  --blue: #524dd0;
  --cyan: #00ffec;
  --grey: #f7f7f7;
  --gradient: linear-gradient(to right, #524dd0, #84389e);
  --white: #fff;
  --black: #000;
  --text-color: #110f2a;
  --cta-color: linear-gradient(to right, #524dd0, #84389e);
  --background-blue: 17, 15, 42;
  --selection: #84389e;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

main {
  padding: 21em 1em 5em 1em;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 3.125rem;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 3.125rem;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 1.875;
  color: var(--text-color);
}

p {
  font-size: 1rem;
  text-align: center;
}

button {
  padding: 0.9em 3em;
  margin: 1em 0;
  font-family: 'Rajdhani', sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  width: max-content;
  background-image: var(--cta-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

button:hover {
  color: var(--blue);
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

[type='submit'] {
  display: block;
  font-weight: 500;
  color: var(--white);
  background-image: var(--cta-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

[type='reset'] {
  font-weight: 500;
  color: var(--blue);
  width: max-content;
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

/* NAVIGATION */

header {
  background-color: var(--white);
  width: 100%;
}

header {
  padding-bottom: 1.5em;
  position: fixed;
  z-index: 1;
}

.logo {
  position: absolute;
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  width: auto;
  height: 2.8em;
}

.primary-navigation {
  margin-top: 7em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

.active {
  color: var(--blue);
}

header a {
  font-size: 1.1875rem;
  line-height: 2;
}

li {
  list-style: none;
}

.smartzone-buttons {
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sorting {
  margin-bottom: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.white-button {
  padding: 0.9em 3em;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  width: max-content;
  border-radius: 2em;
  cursor: pointer;
  color: #000;
  background: white;
  box-shadow: inset 0px 0px 0px 2.4px var(--dark-blue);
}

.white-button:hover {
  font-size: 1rem;
  color: var(--black);
  background: white;
  box-shadow: inset 0px 0px 0px 2.4px var(--dark-blue);
}

.right-arrow:after {
  content: url('../assets/icons/right-arrow.svg');
  position: relative;
  top: 0.2em;
  margin-left: 0.6em;
  display: inline-block;
  width: 0.5em;
}

.left-arrow:before {
  content: url('../assets/icons/left-arrow.svg');
  position: relative;
  top: 0.2em;
  margin-right: 0.6em;
  display: inline-block;
  width: 0.5em;
}

.button-post {
  padding: 0.8635em 3em;
  font-family: 'Rajdhani', sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  width: max-content;
  background-image: var(--cta-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.button-post:hover {
  color: var(--blue);
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.button-post:after {
  content: url('../assets/icons/cross.svg');
  position: relative;
  top: 0.1em;
  margin-left: 0.5em;
  display: inline-block;
  width: 1em;
}

.button-post:hover:after {
  content: url('../assets/icons/cross-blue.svg');
}

.button-put {
  padding: 0.8635em 3em;
  font-family: 'Rajdhani', sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  width: max-content;
  background-image: var(--cta-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.button-put:hover {
  color: var(--blue);
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.button-put:after {
  content: url('../assets/icons/edit.svg');
  position: relative;
  top: 0.1em;
  margin-left: 0.5em;
  display: inline-block;
  width: 1em;
}

.button-put:hover:after {
  content: url('../assets/icons/edit-blue.svg');
}

.button-delete {
  padding: 0.8635em 3em;
  font-family: 'Rajdhani', sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  width: max-content;
  background-image: var(--cta-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.button-delete:hover {
  color: var(--blue);
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.button-delete:after {
  content: url('../assets/icons/trash.svg');
  position: relative;
  top: 0.1em;
  margin-left: 0.5em;
  display: inline-block;
  width: 1em;
}

.button-delete:hover:after {
  content: url('../assets/icons/trash-blue.svg');
}
.select-name, 
.select-function,
.select-town,
.select-location {
  padding: 0 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55.8 33.4' style='enable-background:new 0 0 55.8 33.4;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M31.8,31.8c0.3-0.3,0.5-0.6,0.7-0.9L54.2,9.3c2.1-2.1,2.1-5.5,0-7.6c-2.1-2.1-5.5-2.1-7.6,0L27.9,20.3L9.2,1.6 c-2.1-2.1-5.5-2.1-7.6,0C0.5,2.6,0,4,0,5.4c0,1.4,0.5,2.8,1.6,3.8l21.7,21.7c0.2,0.3,0.4,0.6,0.7,0.9c1.1,1.1,2.5,1.6,3.9,1.6 C29.3,33.4,30.8,32.9,31.8,31.8z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: 1.3em;
  text-indent: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 3.0635em;
  border: 0.127em solid var(--dark-blue);
  border-radius: 2em;
  cursor: pointer;
}

.select-name {
  background-position-x: 8.5em;
  width: 11.8em;
}

.select-function {
  background-position-x: 10em;
  width: 12.8em;
}

.select-town {
  background-position-x: 9em;
  width: 11.9em;
}

.loading-state {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: white;
}

.loading-image {
  display: block;
  margin: 0 auto;
  width: 10em;
  height: 10em;
}

.loading-state.hidden {
  display: none;
}

table {
  margin: 1em 0;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  border: 2.5px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: white;
}

.empty-state {
  display: block;
}

.empty-state-dissapear {
  display: none;
}

.empty-state > img {
  display: block;
  margin: 5em auto 0 auto;
  width: 10em;
  height: auto;
}

th {
  padding: 1em;
  color: var(--text-color);
  background-color: var(--white);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--blue);
  border-bottom: 2.5px solid #000;
}

td {
  padding: 1em;
  color: var(--text-color);
  background-color: var(--white);
  border-bottom: 2.5px solid #000;
}

img {
  height: auto;
  width: 100%;
  margin: 1.5em 0;
  object-fit: cover;
}

.buttons-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

form {
  padding: 4em 1em;
  background-color: var(--grey);
  width: 100%;
}

form label {
  display: block;
  font-size: 1rem;
  margin-top: 0.4rem;
}

form input,
form textarea {
  margin-bottom: 0.5em;
  padding: 0.7em;
  font-size: 1rem;
  width: 100%;
  border: 2px solid var(--dark-blue);
}

form input:focus {
  outline: none;
  border: 2px solid var(--blue);
}

.form-buttons {
  display: flex;
}

button[type='submit'] {
  margin-right: 1em;
}

@media (min-width: 70em) {
  main {
    padding: 7em 0;
  }

  p {
    margin: 0.4em 0 1em 0;
    font-size: 1.1875rem;
    line-height: 1.4;
  }

  header {
    position: fixed;
    padding: 0 5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 5.8em;
    background-color: white;
    width: 100%;
    z-index: 3;
  }

  .primary-navigation {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5em;
    list-style: none;
  }

  .primary-navigation {
    display: flex;
    flex-wrap: nowrap;
  }

  .logo {
    position: relative;
  }

  button,
  .select-function,
  .select-location,
  .select-name,
  .select-town,
  .white-button,
  .white-button:hover,
  .button-post,
  .button-post:hover,
  .button-put,
  .button-put:hover,
  .button-delete,
  .button-delete:hover {
    font-size: 1.1875rem;
  }

  .smartzone-buttons {
    flex-direction: row;
    gap: 1em;
  }

  .sorting {
    margin-top: 1.5em;
    margin-bottom: 3em;
    flex-direction: row;
    gap: 1em;
  }

  .tables {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  table {
    margin: 1.5em 0 1.5em 5em;
    font-size: 1.1875rem;
    text-align: left;
    width: 80%;
    border: 2.5px solid var(--dark-blue);
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: white;
  }

  th {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--blue);
    border-bottom: 2.5px solid var(--dark-blue);
  }

  td {
    border-bottom: 2.5px solid var(--dark-blue);
  }

  img {
    height: 32.6em;
    width: 90%;
    margin-right: 5em;
  }

  form {
    margin: 0 auto;
    width: min-content;
    padding: 4em 6em;
    background-color: var(--grey);
  }

  form label {
    font-size: 1.1875rem;
  }

  form input,
  form textarea {
    font-size: 1.1875rem;
    width: 30em;
  }
}